<div class="search-box">
  <input
    class="input"
    type="search"
    placeholder="Search User"
    [(ngModel)]="searchTerm"
    (ngModelChange)="searchUserByTerm()"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />
  @if(searchTerm && showList) {
  <div class="overlay">
    @if(!loading()) {
    <ul class="search-result">
      <li *ngFor="let user of users()" (click)="selectUser(user)">
        {{ user.name }} - <strong>{{ user.login }}</strong>
      </li>
      @if(!users().length){
      <li>No result</li>
      }
    </ul>
    } @else {
    <ul class="search-result">
      <li>Loading...</li>
    </ul>
    }
  </div>
  }
</div>
