<div class="search-box">
  <input
    class="input"
    type="search"
    placeholder="Search User"
    [(ngModel)]="searchTerm"
    (ngModelChange)="searchUserByTerm()"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />
  @if(searchTerm) {
  <div class="overlay" *ngIf="showList">
    <ul *ngIf="!loading(); else loadingTmpl" class="search-result">
      <li *ngFor="let user of users()" (click)="selectUser(user)">
        {{ user.name }} - <strong>{{ user.login }}</strong>
      </li>
      <li *ngIf="!users().length">No result</li>
    </ul>
  </div>
  }
</div>
<ng-template #loadingTmpl>
  <div>Loading...</div>
</ng-template>
