<div class="container">
  <h1 class="title">Github User's Repository Star's Checker</h1>
  <header class="header">
    <div class="search-area">
      <app-search-user
        [users]="users()"
        [loading]="loading()"
        (selectedUser)="selectUser($event)"
        (serchedTerm)="searchUserByTerm($event)"
      ></app-search-user>
    </div>
  </header>
  @if(!loading()){ @if(repositories().length !== 0) {

  <h2>Showing data for {{ selectedUser?.name }}</h2>
  } } @else {
  <div class="loading">Loading...</div>
  }

  <div *ngIf="loading() && repositories().length === 0">
    <p>No Data found</p>
  </div>
  <router-outlet />
</div>
